*{
    margin-left: 90px;
    margin-top: 40px;
    background-color: rgb(160, 200, 159);
    
}


.form{
    color: rgb(2, 25, 25);
    font-size: 20px;
    font-weight: bold;
    
       
      }

.h1{
    margin-left: 60px;
}